a.exe
lab6.exe
lab07/stack.exe
lab07Memory.exe
.vs/CS470-Group-1/v16/ipch/AutoPCH/44d0c01eefa08ee4/STACK.ipch
.vs/CS470-Group-1/v16/.suo
.vs/CS470-Group-1/v16/Browse.VC.db
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
